// Global styles

body {
    font-family: var(--bls-font-sans-serif);
    line-height: 1.38;

    @media screen and (min-width: 768px) {
        line-height: 1.38;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bls-font-sans-serif);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.02em;

    @media screen and (min-width: 768px) {
        font-size: 3.75rem;
        line-height: 1.15;
    }
}

h2 {
    font-size: 2.5rem;
    line-height: 1.125;
    font-weight: 600;

    @media screen and (min-width: 768px) {
        font-size: 3.75rem;
        line-height: 1.125;
    }
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 1rem;
    }
}